*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.grid-1 {
  width: calc(8.33333% - 20px);
}

.grid-2 {
  width: calc(16.66667% - 20px);
}

.grid-3 {
  width: calc(25% - 20px);
}

.grid-4 {
  width: calc(33.33333% - 20px);
}

.grid-5 {
  width: calc(41.66667% - 20px);
}

.grid-6 {
  width: calc(50% - 20px);
}

.grid-7 {
  width: calc(58.33333% - 20px);
}

.grid-8 {
  width: calc(66.66667% - 20px);
}

.grid-9 {
  width: calc(75% - 20px);
}

.grid-10 {
  width: calc(83.33333% - 20px);
}

.grid-11 {
  width: calc(91.66667% - 20px);
}

.grid-12 {
  width: calc(100% - 20px);
}

[class^='grid-'] {
  float: left;
  min-height: 1px;
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (min-width: 480px) and (max-width: 759px) {
  [class^='grid-'] {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
  }
}

.offset-1 {
  margin-left: calc( 8.33333% + 10px);
}

.offset-2 {
  margin-left: calc( 16.66667% + 10px);
}

.offset-3 {
  margin-left: calc( 25% + 10px);
}

.offset-4 {
  margin-left: calc( 33.33333% + 10px);
}

.offset-5 {
  margin-left: calc( 41.66667% + 10px);
}

.offset-6 {
  margin-left: calc( 50% + 10px);
}

.offset-7 {
  margin-left: calc( 58.33333% + 10px);
}

.offset-8 {
  margin-left: calc( 66.66667% + 10px);
}

.offset-9 {
  margin-left: calc( 75% + 10px);
}

.offset-10 {
  margin-left: calc( 83.33333% + 10px);
}

.offset-11 {
  margin-left: calc( 91.66667% + 10px);
}

.offset-12 {
  margin-left: calc( 100% + 10px);
}

@media screen and (min-width: 480px) and (max-width: 759px) {
  .offset-1, .offset-2, .offset-3, .offset-4, .offset-5, .offset-6, .offset-7, .offset-8, .offset-9, .offset-10, .offset-11, .offset-12 {
    margin-left: 0px;
  }
}

.container {
  max-width: 1200px;
  margin: 5px auto;
  position: relative;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .container {
    max-width: 760px;
  }
}

@media screen and (min-width: 480px) and (max-width: 759px) {
  .container {
    max-width: 480px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.container::after, .container::before {
  content: '';
  display: table;
  clear: both;
}

.row {
  position: relative;
  margin-left: -10px;
  margin-right: -10px;
}

@media screen and (min-width: 480px) and (max-width: 759px) {
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.row::after, .row::before {
  content: '';
  display: table;
  clear: both;
}

body {
  background: #edece4;
  border: 10px solid #cbc6b9;
  color: #2a2426;
}

@media screen and (min-width: 480px) and (max-width: 759px) {
  body {
    border: none;
  }
}

img {
  display: block;
  max-width: 100%;
}

p {
  font-family: "PT Mono", monospace;
  font-size: 1.125rem;
  line-height: 1.66667rem;
}

.titulo {
  font-family: "PT Mono", monospace;
  font-size: 1.125rem;
  line-height: 1.66667rem;
  text-transform: uppercase;
}

@media screen and (min-width: 480px) and (max-width: 759px) {
  .titulo {
    margin-bottom: 40px;
  }
}

.titulo::after {
  content: '';
  display: block;
  width: 75%;
  float: right;
  height: 2px;
  background: #2a2426;
  margin-top: 12px;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .titulo::after {
    width: 60%;
  }
}

.intro {
  margin-top: 60px;
}

@media screen and (min-width: 480px) and (max-width: 759px) {
  .intro {
    margin-top: 20px;
  }
}

.logo {
  margin-bottom: 60px;
}

.intro-info {
  border-right: 2px solid #2a2426;
  max-width: 320px;
}

.intro-info p {
  padding-top: 10px;
}

.intro-info p:first-child {
  border-bottom: 2px solid #2a2426;
  padding-bottom: 10px;
}

.aberto {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: #1ab912;
  border-radius: 50%;
  margin-left: 30px;
}

.intro-telefone {
  color: #988c77;
}

@media screen and (min-width: 480px) and (max-width: 759px) {
  .intro-telefone {
    margin-bottom: 40px;
  }
}

.intro-telefone::after {
  content: '/ / / /';
  display: block;
  margin-top: 200px;
  font-size: 200px;
  letter-spacing: -90px;
  color: #2a2426;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .intro-telefone::after {
    margin-top: 80px;
    font-size: 160px;
    letter-spacing: -70px;
  }
}

@media screen and (min-width: 480px) and (max-width: 759px) {
  .intro-telefone::after {
    display: none;
  }
}

.intro-foto {
  border: 10px solid #cbc6b9;
  width: 100%;
}

.menu {
  margin-top: 120px;
  margin-bottom: 120px;
}

@media screen and (min-width: 480px) and (max-width: 759px) {
  .menu {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.menu-item {
  margin-bottom: 60px;
}

.menu-item h2 {
  font-family: "Aref Ruqaa", serif;
  font-size: 1.5rem;
  line-height: 1.25rem;
  margin-bottom: 1rem;
}

.menu-item li {
  font-family: "PT Mono", monospace;
  font-size: 1.125rem;
  line-height: 1.66667rem;
  line-height: 1.94444rem;
}

.menu-item li span {
  font-family: "Aref Ruqaa", serif;
  color: #988c77;
  display: inline-block;
  width: 70px;
  margin-right: 10px;
  text-align: right;
  margin-left: -80px;
}

@media screen and (min-width: 480px) and (max-width: 759px) {
  .menu-item li span {
    margin-left: 0px;
    width: auto;
  }
}

.menu-item img {
  border-radius: 50%;
  border: 10px solid #cbc6b9;
  position: absolute;
  right: 0px;
  margin-top: 15px;
}

@media screen and (min-width: 1200px) {
  .menu-item img {
    right: 120px;
  }
}

@media screen and (min-width: 480px) and (max-width: 759px) {
  .menu-item img {
    width: 120px;
    margin-top: 60px;
  }
}

.contato {
  margin-top: 120px;
  margin-bottom: 120px;
}

@media screen and (min-width: 480px) and (max-width: 759px) {
  .contato {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.contato form label {
  font-family: "PT Mono", monospace;
  font-size: 1.125rem;
  line-height: 1.66667rem;
  display: block;
}

.contato form input[type='text'],
.contato form textarea {
  font-family: "PT Mono", monospace;
  font-size: 1.125rem;
  line-height: 1.66667rem;
  color: #2a2426;
  width: 100%;
  padding: 0 5px;
  height: 40px;
  border: 2px solid #988c77;
  background: transparent;
  margin-bottom: 1rem;
}

.contato form input[type='text']:hover, .contato form input[type='text']:focus,
.contato form textarea:hover,
.contato form textarea:focus {
  outline: none;
  border-color: #cbc6b9;
}

.contato form textarea {
  height: 120px;
}

input.button {
  font-family: "PT Mono", monospace;
  font-size: 1.125rem;
  line-height: 1.66667rem;
  cursor: pointer;
  color: #988c77;
  text-transform: uppercase;
  border: 2px solid #988c77;
  background: transparent;
  display: block;
  width: 200px;
  padding-top: 5px;
  -webkit-box-shadow: 5px 5px 0 -2px #cbc6b9, 5px 5px 0 0 #988c77;
  -moz-box-shadow: 5px 5px 0 -2px #cbc6b9, 5px 5px 0 0 #988c77;
  box-shadow: 5px 5px 0 -2px #cbc6b9, 5px 5px 0 0 #988c77;
  transition: 0.3s;
}

input.button:hover {
  -webkit-box-shadow: 3px 3px 0 -2px #cbc6b9, 3px 3px 0 0 #988c77;
  -moz-box-shadow: 3px 3px 0 -2px #cbc6b9, 3px 3px 0 0 #988c77;
  box-shadow: 3px 3px 0 -2px #cbc6b9, 3px 3px 0 0 #988c77;
}

.contato-info {
  display: inline-block;
  color: #988c77;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

@media screen and (min-width: 1200px) {
  .contato-info {
    float: right;
    text-align: right;
    margin-top: -3rem;
  }
}

.contato-mapa {
  display: block;
  -webkit-box-shadow: 0 0 0 10px #cbc6b9;
  -moz-box-shadow: 0 0 0 10px #cbc6b9;
  box-shadow: 0 0 0 10px #cbc6b9;
  clear: both;
}

.contato-mapa img {
  width: 100%;
}

footer {
  padding: 20px 0;
  background: #2a2426;
  -webkit-box-shadow: 0 0 0 10px #2a2426;
  -moz-box-shadow: 0 0 0 10px #2a2426;
  box-shadow: 0 0 0 10px #2a2426;
}

footer .imgtext {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .imgtext p {
  color: #edece4;
}

@media screen and (min-width: 480px) and (max-width: 759px) {
  footer .imgtext p {
    text-align: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 759px) {
  footer .imgtext {
    margin: 20px auto;
  }
  footer .imgtext img {
    display: none;
  }
}
